
.index-page {
    background: #F4F8FF;
    font-family: "Nunito", sans-serif;
}

/* Главный блок */
.hero-container {
    max-width: 900px;
    margin: 60px auto;
    text-align: center;
}

/* Заголовок */
.hero-title {
    font-size: 38px;
    font-weight: 800;
    color: #2D2E32;
}

/* Подзаголовок */
.hero-subtitle {
    color: #6F7693;
    font-size: 18px;
    margin-bottom: 40px;
}

/* Карточки функций */
.features {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 20px;
}

.feature-card {
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.07);
    transition: 0.25s;
}

.feature-card:hover {
    transform: translateY(-4px);
}

.feature-card h3 {
    margin-bottom: 10px;
    color: #3B6DFF;
    font-size: 20px;
    font-weight: 700;
}

.feature-card p {
    color: #6F7693;
    font-size: 15px;
}
