<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация — ТестМастер</title>
    <link rel="stylesheet" th:href="@{/css/registration.css}">
</head>

<body>
<div class="container">
    <div class="form-box">
        <h2>Регистрация</h2>
        <div th:if="${error}" class="error-message">
            <span th:text="${error}" id="error"></span>
        </div>
        <p class="subtitle">Создайте новый аккаунт</p>

        <form method="post" th:action="@{/registration}">
            <div class="input-group">
                <input name="username" placeholder="Имя пользователя" required type="text">
            </div>

            <div class="input-group">
                <input name="password" placeholder="Пароль" required type="password">
            </div>

            <button class="btn-primary" type="submit" id="registerButton">Зарегистрироваться</button>
        </form>
        <p class="bottom-text">
            Уже есть аккаунт?
            <a th:href="@{/login}">Войти</a>
        </p>
    </div>
</div>
</body>
</html>
